<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>
<h2>Owners</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}" style="width: 150px;">1</td>
        <td th:text="${owner?.firstName}" style="width: 200px;">John</td>
        <td th:text="${owner?.lastName}" style="width: 120px;">Doe</td>
    </tr>
    </tbody>
</table>
</body>
</html>